# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/build/

\.idea/

\.gradle/

\.DS_Store

script/publish.properties
/libs/
/idea-sandbox/
commons/build/
commons/out/
guice-action/build/
guice-action/idea-sandbox/
guice-action/out/
intellij-idea/build/
intellij-idea/idea-sandbox/
intellij-idea/out/
intellij-idea-test/build/
intellij-idea-test/idea-sandbox/
intellij-idea-test/out/
intellij-jvm/build/
intellij-jvm/idea-sandbox/
intellij-jvm/out/
intellij-kotlin-support/build/
intellij-kotlin-support/idea-sandbox/
intellij-kotlin-support/out/
intellij-scala-support/idea-sandbox/
intellij-scala-support/build/
intellij-scala-support/out/
/intellij-groovy-support/build/
/intellij-groovy-support/idea-sandbox/
/gradle/wrapper/caches/
/gradle/wrapper/daemon/
